<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="renderer" content="webkit">
<title>主页</title>
<meta name="keywords" content="">
<meta name="description" content="">
<!--[if lt IE 9]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->





<link href="views/common/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<script type="text/javascript" src="views/common/jquery/jquery-1.12.3.js"></script>
<script type="text/javascript" src="views/common/jquery/jquery.validate/jquery.validate.js"></script>
<script type="text/javascript" src="views/common/jquery/jquery.validate/jquery.validate.method.js"></script>
<script type="text/javascript" src="views/common/bootstrap/js/bootstrap.js"></script>
<script type="text/javascript" src="views/common/util/common.js"></script>
<script type="text/javascript" src="views/common/sys.js"></script>


<link href="views/common/main/css/font-awesome.min.css?v=4.4.0" rel="stylesheet">
<link href="views/common/main/css/style.css?v=4.1.0" rel="stylesheet">
<link href="views/common/sweetalert/sweetalert.css" rel="stylesheet">

</head>

<body class="fixed-sidebar full-height-layout gray-bg"
	style="overflow: hidden">
	<div id="wrapper">
		<!--左侧导航开始-->
		<nav class="navbar-default navbar-static-side" role="navigation">
			<div class="nav-close">
				<i class="fa fa-times-circle"></i>
			</div>
			<div class="sidebar-collapse">
				<ul class="nav" id="side-menu">
					<li class="nav-header">
						<div class="dropdown profile-element">
							<a data-toggle="dropdown" class="dropdown-toggle" href="#"> <span
								class="clear"> <span class="block m-t-xs"
									style="font-size: 20px;"> <i class="fa fa-area-chart"></i>
										<strong class="font-bold">Admin</strong>
								</span>
							</span>
							</a>
						</div>
						<div class="logo-element">管理系统</div>
					</li>
<!-- 					<li class="hidden-folded padder m-t m-b-sm text-muted text-xs"> -->
<!-- 						<span class="ng-scope">分类</span> -->
<!-- 					</li> -->
					<li><a class="J_menuItem" href="views/index_v1.html"> <i
							class="fa fa-home"></i> <span class="nav-label">主页</span>
					</a></li>
					

				</ul>
			</div>
		</nav>
		<!--左侧导航结束-->
		<!--右侧部分开始-->
		<div id="page-wrapper" class="gray-bg dashbard-1">
			<div class="row border-bottom">
				<nav class="navbar navbar-static-top" role="navigation"
					style="margin-bottom: 0">
					<div class="navbar-header">
						<a class="navbar-minimalize minimalize-styl-2 btn btn-info "
							href="#"><i class="fa fa-bars"></i> </a>
<!-- 						<form role="search" class="navbar-form-custom" method="post" -->
<!-- 							action="search_results.html"> -->
<!-- 							<div class="form-group"> -->
<!-- 								<input type="text" placeholder="请输入您需要查找的内容 …" -->
<!-- 									class="form-control" name="top-search" id="top-search"> -->
<!-- 							</div> -->
<!-- 						</form> -->

                            <div style="margin-left: 600px;width: 600px;">
                            <h2>你好:<label id="userNameLabel"></label>欢迎使用后台管理系统！</h2>
					      </div>
					</div>
					
		
					<!-- 右边 -->
					 <ul class="nav navbar-top-links navbar-right">
					    <li class="dropdown">
					     <select class="col-sm-1 control-label" name="types" id="role_type" style="width: 180px">
				          </select>
				        </li> 
				                  
                        <li class="dropdown">
                            <a  href="#" class="dropdown-toggle count-info" onclick="goLogout()"> 退出系统      </a>
                        </li>
                    </ul>
                    
                    <script type="text/javascript">
					//初始化
					$(function() {
						var param=new Object();	
						    param.status="0";
						    param.groupId="2";
						//初始化数据	
						pageFn(getContextPath()+"/sys/role/indexRoleMark",param,"get");
					})
					
					/**分页回调处理**/
					function callbak_page(returnDatas)
					{
						//$("#_role_table tbody tr").remove();
						var returnData = returnDatas.data.items;
						if(returnData==null){
						  return;
						}
						//当前角色标识 
						var message=returnDatas.message;
						for(var i=0;i<returnData.length;i++)
						{
							var dict=returnData[i];
							var html="";
							html+="<option value='"+dict.types+"' ";
							if(message==dict.types)
							{
								html+=" selected='selected' ";
							}
							html+=">";
							html+= dict.name+"</option>";
							$("#role_type").append(html);
						}
					}
					
					
					$("#role_type").change(function(){
						var role_type=$("#role_type").val();
// 						location.href=getContextPath()+"/sys/role/indexUpdateRoleMark?roleType="+role_type;
						$.ajax({
							url : getContextPath()+"/sys/role/indexUpdateRoleMark",
							type : "POST",
							dataType : "json",
							data :"roleType="+role_type,
							success : function(returnData,status,XMLHttpRequest)
							{	
								location.href=getContextPath();

							},
							error : function() {
								alert("切换当前角色标识异常");
							}
						});
					});
					
					</script>
					
				</nav>
			</div>
			<div class="row J_mainContent" id="content-main">
				<iframe id="J_iframe" width="100%" height="100%"
					src="views/index_v1.html?v=4.0" frameborder="0" data-id="index_v1.html"
					seamless></iframe>
			</div>
		</div>
		<!--右侧部分结束-->
	</div>


     <!-- 菜单 -->
     <script type="text/javascript" src="views/common/menu.js"></script>
	<script type="text/javascript" src="views/common/main/js/index.js"></script>
	<script src="views/common/main/js/plugins/metisMenu/jquery.metisMenu.js"></script>   
	<script src="views/common/main/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
	
	<!-- 自定义js -->
	<script src="views/common/main/js/index-main.js?v=4.1.0"></script>
   <script type="text/javascript" src="views/common/sweetalert/sweetalert.min.js"></script>


</body>

</html>
