<!DOCTYPE html>
<html>
  <head>
    <title>Bootstrap Admin Theme v3</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    
    <link href="views/common/all.css" rel="stylesheet">
    <script src="views/common/all.js"></script>

  </head>
  <body>
  	  <div class="col-md-2">
		  	<div class="sidebar content-box" style="display: block;">
                <ul class="nav">
                    <!-- Main menu -->
					   <li class="submenu">
                         <a href="#">
                            <i class="glyphicon glyphicon-list"></i> 系统管理
                            <span class="caret pull-right"></span>
                         </a>
                         <!-- Sub menu -->
                         <ul>
                            <li><a href="login.html">用户管理</a></li>
                            <li><a href="signup.html">角色管理</a></li>
							<li><a href="signup.html">菜单管理</a></li>
                        </ul>
                    </li>
					
                    <li class="current"><a href="index.html"><i class="glyphicon glyphicon-home"></i> Dashboard</a></li>
                    <li><a href="sys/user/userlist.html"><i class="glyphicon glyphicon-calendar"></i> Calendar</a></li>
                    <li><a href="views/stats.html"><i class="glyphicon glyphicon-stats"></i> Statistics (Charts)</a></li>
                    <li><a href="views/tables.html"><i class="glyphicon glyphicon-list"></i> Tables</a></li>
                    <li><a href="views/buttons.html"><i class="glyphicon glyphicon-record"></i> Buttons</a></li>
                    <li><a href="views/editors.html"><i class="glyphicon glyphicon-pencil"></i> Editors</a></li>
                    <li><a href="views/forms.html"><i class="glyphicon glyphicon-tasks"></i> Forms</a></li>
                    <li class="submenu">
                         <a href="#">
                            <i class="glyphicon glyphicon-list"></i> Pages
                            <span class="caret pull-right"></span>
                         </a>
                         <!-- Sub menu -->
                         <ul>
                            <li><a href="login.html">Login</a></li>
                            <li><a href="signup.html">Signup</a></li>
                        </ul>
                    </li>
                </ul>
             </div>
		  </div>
  </body>
</html>