<!DOCTYPE html>
<html>
<head>
<title>Bootstrap Admin Theme v3</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="text/javascript" src="/views/common/jquery/jquery-1.12.3.js"></script>
    
    <link href="/views/common/all.css" rel="stylesheet">
	<!-- 	<script src="/demo/views/common/all.js"></script> -->
	<script type="text/javascript" src="/views/common/layout/js/custom.js"></script>
	<script type="text/javascript" src="/views/common/bootstrap/js/bootstrap.min.js"></script>
	 <script type="text/javascript" src="/views/common/sysCommon.js"></script>
</head>

<body class="login-bg">
	<div class="header">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<!-- Logo -->
					<div class="logo">
						<h1>
							<a href="http://localhost:9808/demo/views/index.html">Bootstrap
								Admin Theme</a>
						</h1>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="page-content container">
		<div class="row">
			<div class="col-md-4 col-md-offset-4">
				<div class="login-wrapper">
					<div class="box">
						<div class="content-wrap">
							<h6>欢迎使用pro1系统</h6>
							<form action="/login" method="post">
								<input class="form-control" id="_username" name="userName" type="text"
									placeholder="登陆名"> 
									<input class="form-control"	id="_password" name="password" type="password" placeholder="密码">
									 <input	type="checkbox" name="rememberMe" id="_rememberme" value="false">
								记住密码
								<div class="action" >
								    <input type="submit" value="登录"  >
<!-- 									    <input type="submit" value="登录" class="btn btn-primary signup" id="_login"> -->
<!-- 									<a class="btn btn-primary signup" id="_login">登陆</a> -->
								</div>
							
							</form>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	
<script type="text/javascript">
		$("#_loginxx").click(function() {
			var username = $("#_username").val();
			var password = $("#_password").val();
			var rememberme = $("#_rememberme").val();
			$.ajax({
				url : getWebContext()+'sys/user/login',
				data : {
					'userName' : username,
					'password' : password,
					'rememberMe' : rememberme
				},
				type : 'post',
				cache : false,
				dataType : 'json',
				success : function(data,success) {
					alert(success);
					alert(JSON.stringify(data));

				},
				error : function() {
					alert("异常！");
				}
			});
		});
</script>
</body>
</html>