<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>一个基础架子后台管理系统</title>
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Pragma" content="no-cache">
    
    <link href="common/all.css" rel="stylesheet">
   <script type="text/javascript" src="common/all.js"></script>
    
    <link href="modules/resources/css/sys/sys.css" rel="stylesheet" />
<!--     <script src="../resources/js/sys/sys.js"></script> -->
    <link href="modules/resources/css/sys/page.public.css" rel="stylesheet" />
    <link href="modules/resources/css/sys/page.index.css" rel="stylesheet" />
    <link href="modules/resources/css/sys/page.prompt.css" rel="stylesheet" />
    <link href="common/style/zTreeStyle/zTreeStyle.css" rel="stylesheet" />
    <script src="common/jquery/jquery.prompt/jquery.prompt.js"></script>
    <script src="common/jquery/jquery.ztree/jquery.ztree.core-3.5.js"></script>
    <script src="common/jquery/jquery.ztree/jquery.ztree.excheck-3.5.js"></script>
    

    
    <!--[if lt IE 9]>
        <link href="../resources/style/ie-style.css" rel="stylesheet" />
        <script src="../resources/js-plug/html5.js"></script>
    <![endif]-->
    <!--[if IE 6]>
        <script src="../resources/js-plug/jquery.fix/EvPng.js"></script>
        <script type="text/javascript">
            EvPNG.fix("#nav-tree li a,#nav-tree li span.button.noline_open,#nav-tree li ul li span.button.switch,#nav-tree li ul li a");
        </script>
    <![endif]-->
    <script type="text/javascript" src="modules/resources/js/sys/main.js"></script>
    <script type="text/javascript">
        $.ajaxSetup ({cache: false });
        $(document).ready(function () { });
        function showPrompt(options) {
            $.prompt(options);
        }
    </script>
</head>
<body>
    <div class="main_min_width" >
        <header class="xyt-m-header ">
            <div class="m-header">
                <div class="m-header-inner margin_auto">
                    <div class="m-header-i-logo fn-left">
                        <div class="m-header-i-logo">
                            <div class="logo fn-left">
                                <img src="modules/resources/images/public/c-logo.jpg" alt="" />
                            </div>
                            <div class="headerfont fn-left">
                                <img src="modules/resources/images/public/c-header-left-font,.gif" alt="" />
                            </div>
                            <div class="fn-clear"></div>
                        </div>
                        <div class="fn-clear"></div>
                    </div>
                    <div class="m-header-i-font fn-right">
                        <div class="m-header-i-fontnum">
                            <div class="headerfont">
                                <span>您好，<label id="userNameLabel"></label>，欢迎登录后台管理系统！</span>
                            </div>
                            <div class="headerfontnum">
                                <img src="modules/resources/images/public/c-font.gif" alt="" />
                            </div>
                        </div>
                    </div>
                    <div class="fn-clear"></div>
                </div>
            </div>
            
            <div class="m-header-t-nav">
                <div class="m-header-nav-inner margin_auto">
                    <ul class="nav-ul">
                        <li class="selected"><a href="#" class="nav-list">首页</a></li>
                        <li class=""><a href="#" class="nav-list">基本设置</a></li>
                        <li class=""><a href="#" class="nav-list">商品管理</a></li>
                        <li class=""><a href="#" class="nav-list">商品运营</a></li>
                        <li class=""><a href="#" class="nav-list">其他服务</a></li>
                        <li class=""><a href="#" class="nav-list">系统设置</a></li>
                        <li class=""><a href="#" class="nav-list" onclick="goLogout()">退出系统</a></li>
                    </ul>
                </div>
            </div>
            
        </header>
        
        
        <div class="xyt-m-middle">
            <div class="xyt-m-middle-inner margin_auto wrapper">

                <div class="fn-left m-middle-layout-west sidebar">
                    <div class="ui-sidebar">
                        <div class="ui-nav-tree" id="ui-nav-ztree">
                            <ul id="nav-tree" class="ztree"></ul>
                        </div>
                    </div>
                </div>
                
                
                <div class="m-middle-layout-east content" id="m-middle-layout-east">
                    <script type="text/javascript">
                        function SetCwinHeight() {
                            //$("m-middle-layout-east").height(1000);
                            var iframeid = document.getElementById("iframeid"); //iframe id   
                            var mlayouteast = $(".m-middle-layout-east");
                            var mlayoutwest = $(".m-middle-layout-west");
                            if (document.getElementById) {
                                if (iframeid && !window.opera) {
                                    var _body = iframeid.contentWindow.document.body || iframeid.contentWindow.body;
                                    if (_body != null) {
                                        //console.log("Here" + iframeid.contentDocument.body);
                                        if (iframeid.contentDocument && iframeid.contentDocument.body.offsetHeight) {
                                            var _offset_height = iframeid.contentDocument.body.offsetHeight;
                                            if (_offset_height <= 600) {
                                                // mlayoutwest.height(600);
                                            } else {
                                                // mlayoutwest.height(_offset_height);
                                            }
                                            iframeid.height = iframeid.contentDocument.body.offsetHeight;
                                        } else if (iframeid.Document && iframeid.Document.body.scrollHeight) {
                                            var _scroll_height = iframeid.Document.body.scrollHeight;
                                            if (_scroll_height <= 600) {
                                                //  mlayoutwest.height(600);
                                            } else {
                                                // mlayoutwest.height(_scroll_height);
                                            }
                                            iframeid.height = iframeid.Document.body.scrollHeight;
                                        }
                                    }
                                }
                            }
                        }
                        function runResizeTask() {
                            SetCwinHeight();
                            setTimeout("runResizeTask()", 500);//每隔半秒执行一次 
                        }
                        runResizeTask();
                    </script>
                    <iframe width="100%" id="iframeid" onload="Javascript:SetCwinHeight()" height="1" frameborder="0" src="home.html"></iframe>
                </div>
                <div class="fn-clear"></div>

            </div>
        </div>
        <footer class="xyt-m-footer">
            <div class="xyt-m-footer-bg">
                <div class="m-footer-inner margin_0_auto">
                    <div class="footer">
                    <a >关于我们 </a>| 
                    <a >联系我们 </a>| 
                    <a >版权声明 </a>| 
                    <a >技术热线</a> | 
                    <a >帮助中心</a>
                    </div>
                    <div class="footer">
                        <span>xxx计算机科技有限公司</span> @ 2014 | 
                    <span>粤ICP备10001145号
                    </span>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>
