
/****分页****/
.pagination{padding:20px 0;width:1200px;margin:0 auto;color:#adadad;font-size:14px;font-family:"宋体";text-align: center;}
.pagination a,.pagination span{padding:6px 10px;color:#adadad;display:inline-block;margin-left:3px;background:#fff;}
.pagination .pageSelected,.pagination .current{background:#468FCB;color:#fff;text-decoration:none;cursor: pointer;}
.pagination .pageFl{color:#DCDCDC !important; background:#fff !important;}
.pagination span,.pagination a{ vertical-align:middle}
.pagination a{font-family:Arial;}
.pagination span{font-weight:bold;}

/**
*表单验证样式调整
*/
.form-actions{
	text-align: center;
}
	
input.error { border: 1px solid red; color: #EA5200; }
label.error {
/*   background:url("./demo/images/unchecked.gif") no-repeat 0px 0px; */
  padding-left: 16px;
  padding-bottom: 2px;
  font-weight: bold;
  color: #EA5200;
}
/* label.checked { */
/*   background:url("./demo/images/checked.gif") no-repeat 0px 0px; */
/* } */