<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rui.pro1.modules.sys.mapper.DepartmentMapper">

	<!--=========================查询数据返回集合 配置====================================================== -->
	<resultMap type="com.rui.pro1.modules.sys.entity.Department" id="resultMapId">
		<id property="id" column="id" />
	</resultMap>
	
	<!--=========================根据id ============================================================================= -->
	<select id="get" resultMap="resultMapId" parameterType="Integer">
		select * from sys_department where id=#{id}
	</select>

     <!-- 搜索条件判断 -->
	<sql id="searchField">
		<where>
			<if test="bean.name != null and bean.name != ''">AND name LIKE CONCAT('%',#{bean.name},'%') </if>
		</where>
	</sql>
<!--=========================查询搜索 ============================================================================= -->
	<select id="queryPages" parameterType="com.rui.pro1.common.bean.page.Query"	resultMap="resultMapId">
	select * from sys_department
	<include refid="searchField" />
	order by id desc
	LIMIT
	#{startRow},#{pageSize}
	</select>

	
	<select id="getCount" resultType="long" parameterType="com.rui.pro1.common.bean.page.Query">
		select	count(*) from sys_department
		<include refid="searchField" />
	</select>
	
	
	<!--=========================添加 ============================================================================= -->

	<insert id="add">
		insert into
		sys_department(name,sort,parentId,remake)
		values(#{name},#{sort},#{parentId},#{remake})
	</insert>

	<!-- 删除 -->
	<delete id="del" parameterType="_int">
		DELETE from sys_department where id=#{id}
	</delete>
	
  <!--=========================修改 ============================================================================= -->
	
	<sql id="dbUpdateField">
		<set>
			<if test="name != null and name != ''">name=#{name},</if>
			<if test="sort != null">sort=#{sort},</if>
			<if test="parentId != null">parentId=#{parentId},</if>
			<if test="remake != null and remake != ''">remake=#{remake},</if>
			<if test="status != null ">status=#{status},</if>
			
		</set>
	</sql>
	
	<update id="update" parameterType="com.rui.pro1.modules.sys.entity.Department">
		update sys_department
		<include refid="dbUpdateField" />
		where id=#{id}
	</update>
	
	
	
</mapper>




