<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huiwan.gdata.modules.sys.mapper.DictMapper" >
  <resultMap id="BaseResultMap" type="com.huiwan.gdata.modules.sys.entity.Dict" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="value" property="value" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="parent_id" property="parentId" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="create_by_id" property="createById" jdbcType="INTEGER" />
    <result column="update_by_id" property="updateById" jdbcType="INTEGER" />
    <result column="remake" property="remake" jdbcType="VARCHAR" />
        <result column="arg1" property="arg1" jdbcType="VARCHAR" />
        <result column="arg2" property="arg2" jdbcType="VARCHAR" />
        <result column="arg3" property="arg3" jdbcType="VARCHAR" />
        <result column="arg4" property="arg4" jdbcType="VARCHAR" />
         <result column="arg5" property="arg5" jdbcType="VARCHAR" />
    
  </resultMap>
  
  <sql id="Base_Column_List" >
    id, name, value, type, sort, parent_id, status, create_time, update_time, create_by_id, 
    update_by_id, remake
  </sql>
  
  
  	<!-- 搜索条件判断 -->
	<sql id="searchField">
		<where>
			<if test="bean.type != null and bean.type != ''">AND type =#{bean.type} </if>
		</where>
	</sql>
	<!--=========================查询搜索 ============================================================================= -->
	<select id="queryPages" parameterType="com.huiwan.gdata.common.bean.page.Query"
		resultMap="BaseResultMap">
		select * from sys_dict
		<include refid="searchField" />
		order by type,sort asc,value asc
		LIMIT
		#{startRow},#{pageSize}
	</select>


	<select id="getCount" resultType="long"
		parameterType="com.huiwan.gdata.common.bean.page.Query">
		select count(*) from sys_dict
		<include refid="searchField" />
	</select>
	
	<select id="getByType" 	resultMap="BaseResultMap">
		select * from sys_dict where status=0 and type=#{type}
		order by  sort
	</select>
	
	
	
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sys_dict
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sys_dict
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.huiwan.gdata.modules.sys.entity.Dict" useGeneratedKeys="true" keyProperty="id">
    insert into sys_dict (id, name, value, 
      type, sort, parent_id, 
      status, create_time, update_time, 
      create_by_id, update_by_id, remake
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{value,jdbcType=VARCHAR}, 
      #{type,jdbcType=VARCHAR}, #{sort,jdbcType=INTEGER}, #{parentId,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{createById,jdbcType=INTEGER}, #{updateById,jdbcType=INTEGER}, #{remake,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.huiwan.gdata.modules.sys.entity.Dict" useGeneratedKeys="true" keyProperty="id">
    insert into sys_dict
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="value != null" >
        value,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="parentId != null" >
        parent_id,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="createById != null" >
        create_by_id,
      </if>
      <if test="updateById != null" >
        update_by_id,
      </if>
      <if test="remake != null" >
        remake,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="value != null" >
        #{value,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createById != null" >
        #{createById,jdbcType=INTEGER},
      </if>
      <if test="updateById != null" >
        #{updateById,jdbcType=INTEGER},
      </if>
      <if test="remake != null" >
        #{remake,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.huiwan.gdata.modules.sys.entity.Dict" >
    update sys_dict
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="value != null" >
        value = #{value,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="parentId != null" >
        parent_id = #{parentId,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createById != null" >
        create_by_id = #{createById,jdbcType=INTEGER},
      </if>
      <if test="updateById != null" >
        update_by_id = #{updateById,jdbcType=INTEGER},
      </if>
      <if test="remake != null" >
        remake = #{remake,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.huiwan.gdata.modules.sys.entity.Dict" >
    update sys_dict
    set name = #{name,jdbcType=VARCHAR},
      value = #{value,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=INTEGER},
      parent_id = #{parentId,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      create_by_id = #{createById,jdbcType=INTEGER},
      update_by_id = #{updateById,jdbcType=INTEGER},
      remake = #{remake,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>