<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rui.pro1.modules.sys.mapper.MenuMapper">

	<!--=========================查询数据返回集合 配置====================================================== -->
	<resultMap type="com.rui.pro1.modules.sys.entity.Menu" id="resultMapId">
		<id property="id" column="id" />
	</resultMap>


	<!--=========================根据id ============================================================================= -->
	<select id="get" resultMap="resultMapId" parameterType="Integer">
		select *
		from sys_menu where id=#{id}
	</select>

	<!-- 搜索条件判断 -->
	<sql id="searchField">
		<where>
			<if test="bean.name != null and bean.name != ''">AND name LIKE CONCAT('%',#{bean.name},'%') </if>
		</where>
	</sql>
	<!--=========================查询搜索 ============================================================================= -->
	<select id="queryPages" parameterType="com.rui.pro1.common.bean.page.Query"
		resultMap="resultMapId">
		select * from sys_menu
		<include refid="searchField" />
		order by id desc
		LIMIT
		#{startRow},#{pageSize}
	</select>


	<select id="getCount" resultType="long"
		parameterType="com.rui.pro1.common.bean.page.Query">
		select count(*) from sys_menu
		<include refid="searchField" />
	</select>


	<!--=========================添加 ============================================================================= -->

	<!-- 插入字段sql -->
	<sql id="dbField">
		<trim suffix="" suffixOverrides=",">
			<if test="name != null and name != ''">name,</if>
			<if test="types != null and types != ''">types,</if>
			<if test="sort != null">sort,</if>
			<if test="parentId != null">parentId,</if>
			<if test="permission != null and permission != ''">permission,</if>
			<if test="icon != null and icon != ''">icon,</if>
			<if test="href != null and href != ''">href</if>
		</trim>
	</sql>
	<!-- 插入值sql -->
	<sql id="dbFieldValue">
		<trim suffix="" suffixOverrides=",">
			<if test="name != null and name != ''">#{name},</if>
			<if test="types != null">#{types},</if>
			<if test="sort != null">#{sort},</if>
			<if test="parentId != null">#{parentId},</if>
			<if test="permission != null">#{permission},</if>
			<if test="icon != null">#{icon},</if>
			<if test="href != null">#{href}</if>
		</trim>
	</sql>


	<insert id="add" useGeneratedKeys="true" keyProperty="id">
		insert into
		sys_menu(
		<include refid="dbField" />
		)
		values(
		<include refid="dbFieldValue" />
		)
	</insert>

	<!-- 删除 -->
	<delete id="del" parameterType="_int">
		DELETE from sys_menu where
		id=#{id}
	</delete>

	<!--=========================修改 ============================================================================= -->

	<sql id="dbUpdateField">
		<set>
			<if test="name != null and name != ''">name=#{name},</if>
			<if test="types != null and types != ''">types=#{types},</if>
			<if test="sort != null">sort=#{sort},</if>
			<if test="parentId != null">parentId=#{parentId},</if>
			<if test="permission != null and permission != ''">permission=#{permission},</if>
		</set>
	</sql>

	<update id="update" parameterType="com.rui.pro1.modules.sys.entity.Menu">
		update sys_menu
		<include refid="dbUpdateField" />
		where id=#{id}
	</update>

	<!--=========================根据角色获取所有菜单 ============================================================================= -->

	<select id="getAllMenuByRoleId" resultMap="resultMapId" parameterType="Integer">
		select * from sys_menu where id in(
		SELECT menuId FROM `sys_role_menu` where roleId=#{roleId}
		)
	</select>
	
</mapper>




