<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huiwan.gdata.modules.sys.mapper.RoleMapper">

	<!--=========================查询数据返回集合 配置====================================================== -->
	<resultMap type="com.huiwan.gdata.modules.sys.entity.Role" id="resultMapId">
		    <id column="id" jdbcType="INTEGER" property="id" />
		    <result column="name" jdbcType="VARCHAR" property="name" />
		    <result column="status" jdbcType="INTEGER" property="status" />
		    <result column="types" jdbcType="VARCHAR" property="types" />
		    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
		    <result column="create_by_id" jdbcType="INTEGER" property="createById" />
		    <result column="update_by_id" jdbcType="INTEGER" property="updateById" />
		    <result column="group_id" jdbcType="INTEGER" property="groupId" />
		    <result column="remake" jdbcType="VARCHAR" property="remake" />
	</resultMap>


	<!--=========================根据id ============================================================================= -->
	<select id="get" resultMap="resultMapId" parameterType="Integer">
		select *
		from sys_role where id=#{id}
	</select>
	
	<select id="getByName" resultMap="resultMapId" >
		select *
		from sys_role where name=#{name}
	</select>
	

	<!-- 搜索条件判断 -->
	<sql id="searchField">
		<where>
			<if test="bean.name != null and bean.name != ''">AND name LIKE CONCAT('%',#{bean.name},'%') </if>
			<if test="bean.groupId != null and bean.groupId != ''">AND group_id=#{bean.groupId} </if>
			
		</where>
	</sql>
	<!--=========================查询搜索 ============================================================================= -->
	<select id="queryPages" parameterType="com.huiwan.gdata.common.bean.page.Query"
		resultMap="resultMapId">
		select * from sys_role
		<include refid="searchField" />
		order by id asc
		LIMIT
		#{startRow},#{pageSize}
	</select>


	<select id="getCount" resultType="long"
		parameterType="com.huiwan.gdata.common.bean.page.Query">
		select count(*) from sys_role
		<include refid="searchField" />
	</select>
	
	
	<select id="getRoleListAll"	resultMap="resultMapId">
		select * from sys_role where status=0	order by id desc
	</select>
	
	
	
	<!--=========================角色组 ============================================================================= -->
	<resultMap type="com.huiwan.gdata.modules.sys.entity.RoleGroup" id="groupResultMapId">
		    <id column="id" jdbcType="INTEGER" property="id" />
		    <result column="name" jdbcType="VARCHAR" property="name" />
		    <result column="status" jdbcType="INTEGER" property="status" />
		    <result column="types" jdbcType="VARCHAR" property="types" />
		    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
		    <result column="create_by_id" jdbcType="INTEGER" property="createById" />
		    <result column="update_by_id" jdbcType="INTEGER" property="updateById" />
		    <result column="remake" jdbcType="VARCHAR" property="remake" />
	</resultMap>
	<select id="getGroupListAll"	resultMap="groupResultMapId">
		select * from sys_role_group where status=0	order by id desc
	</select>
	
	<!--=========================添加 ============================================================================= -->

<!-- 	<insert id="add" useGeneratedKeys="true" keyProperty="id"> -->
<!-- 		insert into -->
<!-- 		sys_role(name,remake) -->
<!-- 		values(#{name},#{remake}) -->
<!-- 	</insert> -->



<insert id="insert" parameterType="com.huiwan.gdata.modules.sys.entity.Role" useGeneratedKeys="true" keyProperty="id">
    insert into sys_role (id, name, status, 
      types, create_time, update_time, 
      create_by_id, update_by_id, office_id, 
      remake)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{types,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{createById,jdbcType=INTEGER}, #{updateById,jdbcType=INTEGER}, #{officeId,jdbcType=INTEGER}, 
      #{remake,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.huiwan.gdata.modules.sys.entity.Role" useGeneratedKeys="true" keyProperty="id">
    insert into sys_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="types != null">
        types,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="createById != null">
        create_by_id,
      </if>
      <if test="updateById != null">
        update_by_id,
      </if>
      <if test="groupId != null">
        group_id,
      </if>
      <if test="remake != null">
        remake,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="types != null">
        #{types,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createById != null">
        #{createById,jdbcType=INTEGER},
      </if>
      <if test="updateById != null">
        #{updateById,jdbcType=INTEGER},
      </if>
      <if test="groupId != null">
        #{groupId,jdbcType=INTEGER},
      </if>
      <if test="remake != null">
        #{remake,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  

	<!-- 删除 -->
	<delete id="del" parameterType="_int">
		DELETE from sys_role where
		id=#{id}
	</delete>

	<!--=========================修改 ============================================================================= -->

<!-- 	<sql id="dbUpdateField"> -->
<!-- 		<set> -->
<!-- 			<if test="name != null and name != ''">name=#{name},</if> -->
<!-- 			<if test="remake != null and remake != ''">remake=#{remake},</if> -->
<!-- 			<if test="status != null">status=#{status},</if> -->

<!-- 		</set> -->
<!-- 	</sql> -->

<!-- 	<update id="update" parameterType="com.huiwan.gdata.modules.sys.entity.Role"> -->
<!-- 		update sys_role -->
<!-- 		<include refid="dbUpdateField" /> -->
<!-- 		where id=#{id} -->
<!-- 	</update> -->



<update id="updateByPrimaryKeySelective" parameterType="com.huiwan.gdata.modules.sys.entity.Role">
    update sys_role
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="types != null">
        types = #{types,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createById != null">
        create_by_id = #{createById,jdbcType=INTEGER},
      </if>
      <if test="updateById != null">
        update_by_id = #{updateById,jdbcType=INTEGER},
      </if>
      <if test="groupId != null">
        group_id = #{groupId,jdbcType=INTEGER},
      </if>
      <if test="remake != null">
        remake = #{remake,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.huiwan.gdata.modules.sys.entity.Role">
    update sys_role
    set name = #{name,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      types = #{types,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      create_by_id = #{createById,jdbcType=INTEGER},
      update_by_id = #{updateById,jdbcType=INTEGER},
      group_id = #{groupId,jdbcType=INTEGER},
      remake = #{remake,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>


	<insert id="addRoleMenu">
	insert into
	sys_role_menu(role_id,menu_id)
	values(#{roleId},#{menuId})
	</insert>

	<!-- 删除 -->
	<delete id="delRoleMenu" parameterType="_int">
		DELETE from sys_role_menu
		where role_id=#{roleId}
	</delete>

</mapper>




