<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huiwan.gdata.modules.sys.mapper.SystemMapper">

	<!--=========================一个用户关联角色 ============================================================================= -->
	<delete id="truncateAllRBAC">
		truncate  sys_user;
		truncate sys_role;
		truncate sys_menu;
		truncate sys_department;
		truncate sys_role_menu;
		truncate sys_user_role;
		truncate sys_user_department;
	</delete>
	
	
	<delete id="truncateMenus">
	truncate sys_menu;
<!-- 	truncate sys_role_menu; -->
	</delete>
	


</mapper>




